
input {
    color: black !important;
}


/* Estilo dos outros botões da nav */
.navbar-nav>li.active>button {
    margin-top: -26px;
    text-transform: uppercase;
    font-family: "Francois One";
    font-size: 1.5rem;
    background-color: #fe7953;
    color: #fff;
    border-radius: 3px 3px 0 0 !Important;
    height: 106px;
  }
  
  .navbar-nav>li.active>button>a {
    color: #fff;
    text-decoration: none;
  }
  