body {
  background: url(../img/fundo-site.jpg) no-repeat fixed top center;
}
.carousel .item {
  height: 479px;
}
.carousel-indicators {
  bottom: 57px;
}
.wrapsemibox {
  max-width: 76%;
  margin: 0px auto;
  background: #fff;
  margin-top: -40px;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  z-index: 1000;
  position: relative;
  margin-bottom: -100px;
  padding-bottom: 40px;
  border-bottom: medium double #ccc;
  padding-top: 0;
}
.pageheader-default .semitransparentbg {
  padding-bottom: 75px;
}
.semiboxshadow {
  padding-bottom: 40px;
}
.semiboxshadow img {
    width: 108%;
    margin: 0px auto;
    margin-left: -53px;
    margin-top: -43px;
    position: absolute;
	max-width: 108%;
    z-index: 0;
}
.footer {
  padding-top: 100px;
}
