.colortext {color:#fe7953;
	font-family:Francois One;}
	
.colorbg {background:#fe7953;}
a {	color:#fe7953;}
::selection{background:#fe7953;}
.navbar-nav>li.active>a,.navbar-nav>li.active>a:hover,.navbar-nav>li.active>a:focus {background-color:#fe7953; height: 106px;}
.navbar-nav>li.active>a:before,.navbar-nav>li>a:hover:before,.navbar-nav>li>a:focus:before,.extra-nav-class a.dropdown-toggle:before {border-bottom:6px solid #fe7953;}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus {	background-color:#fe7953;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {background-color:#fe7953 !Important;}
.extra-nav-class a.dropdown-toggle {	background-color:#fe7953 !Important;}
.car-highlight1 {background-color:#fe7953;}
.car-smallcircle {background:#fe7953;}
.carouselText2 {	background:#fe7953;}
.icon-box-top i:hover {background-color:#fe7953;}
.fontawesome-icon.circle-white {	color:#fe7953;}
.grey-box-icon:hover .fontawesome-icon.circle-white,.grey-box-icon.active .fontawesome-icon.circle-white,.active i.fontawesome-icon {background-color:#fe7953;}
.home-features .icon {background:#243846;}
.copyright {	background-color:#fe7953;}
.panel1 {border-left:6px solid #fe7953;}
.buttoncolor {background:#fe7953;}
.panel,.panel2 {	border-left:8px solid #fe7953;}
.btn-default {background-color:#fe7953;}
.btn-minimal:hover {	color: #fe7953;}
#accordion div h4:before {	background:#fe7953 url('../img/plus.png') center center no-repeat;}
#accordion div.active h4:before {background:#fe7953 url('../img/minus.png') center center no-repeat;}
.sidebar h4 {color:#fe7953;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover {color: #fe7953 !important;}
blockquote {border-left:5px solid #fe7953;}
#skill i {background:#fe7953;}
.service-fancybox:hover i {color:#fe7953;}
.service-fancybox:hover {background:#fe7953;}
.service-fancybox.featured {	background:#fe7953;}
.service-fancybox.featured .circleicon i {color:#fe7953;}
.service-fancybox.black .circleicon i {color:#fe7953;}
.cbp_tmtimeline>li .cbp_tmicon {background:#fe7953;}
.services i {	color:#fe7953;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {background-color:#fe7953;	border-color:#fe7953;}
.landingpage-button {color:#fe7953;}
.landingpage-button {color:#fe7953;}
.landingpage-button span {color:#fe7953;}
.landingpage-button strong {color:#fe7953;}
.landingpage-button i {color:#fe7953;}
.active-header {	background:#fe7953;}
.active-header:hover {background:#fe7953;}
#filter ul li .selected {background: #fe7953 !Important;}
.drop-cap, .captionicons {background:#fe7953;}
.pageheader-default .semitransparentbg, .bgarea-semitransparent {background: rgba(49,76,95,0.30) !important;}

