.subtitle {
  text-transform: none;
}

h1>i {
  text-decoration: underline;
}

.subtitle {
  color: #777;
  font-size: 2.5rem;
}

.contTop {
  height: 7.1rem;
  width: 102.2%;
  
  margin-left: -15px;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 1366px) {
  .contTop {
    width: 103.2% !important;
  }
}

@media (max-width: 480px) {
  .contTop {
    width: 109.2% !important;
    padding: 2em;
    height: auto !important; 
  }
}

.contTop.pro {
  background-color: #fe7953;
}

.contTop.basic, .contTop.essential {
  background-color: #00c2f5;
}

.titlePl {
  color: white;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.planPrice {
  color: white;
  padding-top: 2.5rem;
  padding-right: 1rem;
}

.planPrice>:nth-child(1) {
  font-size: 1.5rem;
  top: -0.7rem;
}

.planPrice>:nth-child(2) {
  font-size: 3.5rem;
}

.planPrice>:nth-child(3) {
  font-size: 2rem;
  top: -1.2rem;
}

.planPrice>:nth-child(4) {
  font-size: 1.4rem;
  top: 1.4rem;
}

.box {
  border-radius: 14px;
}

.box>ul>li {
  font-size: 1.9rem;
  padding-bottom: .5rem;
}

.box>ul {
  padding-top: 1.5rem;
  padding-left: 2rem;
}

.inactive {
  color: rgb(177, 174, 174);
}


.container-logo {
  background: #f7f7f7;
  border-radius: 14px;
  width: 383px;
  height: 366px;
}

.container-logo {
  background: transparent;
  border-radius: 14px;
  width: auto;
  height: auto;
  margin-bottom: 12%;
} 


.container-logo>a>:nth-child(1) {
  width: 230px;
  padding-top: 4rem;
}

.container-logo>:nth-child(2) {
  height: 230px;
}

.t-logo {
  font-size: 1.8rem;
}

/* Estilo do dropdown do menu */
.navbar-nav>li.active>.dropdown>button {
	background-color: #fe7953;
  color: #fff!important;
  border-radius: 3px 3px 0 0 !Important;
	height: 106px;
}

.navbar-nav>li.active>.dropdown{
	margin-top: -26px;
  margin-bottom: -20px;
  text-transform: uppercase;
  font-family: "Francois One";
  font-size: 15px;
}

/* Estilo do carrossel dos planos no index */
#carouselPlanos {
  margin-left: 30px;
}

.wrapSlidePlans {
  height: auto;
  padding: 0;
  margin-left: 10%;
}
@media screen and (min-width: 900px) {
  .wrapSlidePlans {
    display: flex;
  }
 }

.carousel .itens {
  height: auto !important;
}

.carousel-inner>.item>a>img {
  display: block;
  max-width: 400px;
  height: auto;
  line-height: 1;
}

.carousel .item {
  background-color: black !important;
}

/* Estilo dos planos no Index */
.titlePlI {
  color: white;
  font-size: 3.5rem!important; 
  padding-top: 1.5rem;
}

.inactiveI {
  color: #BB2929;
  text-decoration: line-through;
}

.planPriceI {
  color: white;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

.planPriceI>:nth-child(1) {
  font-size: 1.5rem;
  top: -0.7rem;
}

.planPriceI>:nth-child(2) {
  font-size: 3.5rem;
}

.planPriceI>:nth-child(3) {
  font-size: 2rem;
  top: -1.2rem;
}

.planPriceI>:nth-child(4) {
  font-size: 1.4rem;
  top: 1.4rem;
}

.lineGray {
  border-color: rgb(129, 124, 124);
}

.container-plan {
  align-items: center;
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
  justify-content: center;
  margin: 2%
}

.container-plan>div {
  background-color: #00c2f5; 
  width: 330px; 
  height: auto; 
  border-radius: 5px;
}
.planBasic>div{
background: rgb(180, 139, 139) !important;
}

.planEnter {
  background: black !important;
}

.container-plan>div.planPro {
  background-color: #fe7953; 
  width: 330px; 
  height: auto; 
  border-radius: 10px;
}

.container-plan>div>ul {
  color: white; 
  font-size: 2rem; 
}



